@import "tailwindcss";

* {
  box-sizing: border-box;
}

@theme {
  --font-fugaz-one: var(--font-fugaz-one);
  --font-work-sans: var(--font-work-sans);
  --font-manrope: var(--font-manrope);
  --color-background: #f9eeda;
  --color-input: #f0f0f0;
  --color-primary: #095332;
  --color-secondary: #de5c38;
  --color-accent: #f2bf4a;
  --color-font-primary: #18472e;
  --color-font-secondary: #fef0dc;
}

.input-container {
  @apply relative flex p-5 justify-start bg-input border-4 border-primary gap-4 lg:max-h-17.5 shadow-[5px_5px_var(--color-primary)] w-full rounded-[20px];
}

.input-username {
  @apply ml-auto w-full xl:w-[80%] h-7.5 outline-none border-3 border-primary pl-2 text-base bg-white text-primary tracking-widest rounded-br-lg font-bold placeholder:text-[#666] placeholder:font-bold focus:bg-input focus:shadow-[5px_5px_0_0_#095332] focus:translate-x-1.25 focus:-translate-y-1.25 focus:translate-z-5;
}

.password-input:focus-within {
  @apply translate-x-1.25 -translate-y-1.25;
}

.input-password {
  @apply ml-auto w-full xl:w-[80%] h-7.5 outline-none border-3 border-primary pl-2 text-base bg-white text-primary tracking-widest rounded-br-lg font-bold placeholder:text-[#666] placeholder:font-bold focus:bg-input focus:shadow-[5px_5px_0_0_#095332];
}

.eye-icon {
  @apply cursor-pointer absolute text-primary top-3.5 right-3 text-xl -translate-y-1/2;
}

.label {
  @apply absolute -top-5 xl:top-3.75 -left-5 xl:-left-10 bg-[#e9b50b] text-black font-bold py-1.25 px-2.5 text-[14px] translate-z-12.5 z-30 border-2 border-black rounded-[20px] tracking-widest;
}

.action-button {
  @apply inline-block py-1 px-5 text-2xl font-bold tracking-widest bg-secondary border-2 border-primary text-primary rounded-xl shadow-[5px_5px_0_#095332] transition-all duration-300 ease-in-out cursor-pointer hover:bg-[#e9b50b] hover:text-secondary hover:border-secondary hover:shadow-[5px_5px_0_#f73333] active:bg-amber-300 active:shadow-none active:translate-y-2 w-40 hover:tracking-[5px];
}

.grid-children {
  @apply w-full h-full;
}

.grid-children-wrapper {
  @apply min-w-0 min-h-0;
}

.homepage-grid {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  max-width: 1500px;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  max-height: 1500px;
}

.profile-settings {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(0, 200px));
}

.profile-settings-header {
  grid-area: 1 / 1 / 2 / 2;
}

.profile-settings-image {
  grid-area: 2 / 1 / 3 / 2;
}

.profile-settings-name {
  grid-area: 1 / 2 / 2 / 3;
}

.profile-settings-username {
  grid-area: 1 / 3 / 2 / 4;
}

.profile-settings-categories {
  grid-area: 2 / 2 / 3 / 4;
}
.profile-settings-button {
  grid-area: 3 / 1 / 4 / 4;
  height: 50px;
}

.recipe-expanded {
  grid-template-columns: 300px 1fr;
  grid-template-rows: repeat(4, auto);
}

.meal-image {
  grid-area: 1 / 1 / 2 / 2;
}
.meal-name {
  grid-area: 1 / 2 / 2 / 3;
}
.meal-ingredients {
  grid-area: 2 / 1 / 3 / 3;
  column-width: 200px;
  column-gap: 10px;
}
.meal-instructions {
  grid-area: 3 / 1 / 4 / 3;
}

.favourite-button {
  grid-area: 4 / 1 / 5 / 3;
}

.category-grid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 200px;
}

@media screen and (max-width: 1024px) {
  .homepage-grid {
    grid-template-rows: 1fr 200px;
  }
  .profile-settings,
  .recipe-expanded {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 24px 0;
  }

  .profile-settings-header,
  .profile-settings-image,
  .profile-settings-name,
  .profile-settings-username,
  .profile-settings-categories,
  .profile-settings-button,
  .meal-image,
  .meal-name,
  .meal-ingredients,
  .meal-instructions,
  .favourite-button {
    grid-area: auto;
  }
  .profile-settings-header {
    padding: 8px;
  }

  .profile-settings-image {
    height: 100px;
  }

  .profile-settings-button {
    height: 50px;
  }
}

@media screen and (max-width: 768px) {
  .homepage-grid {
    grid-template-rows: minmax(0, 1fr) 100px;
  }
}